:root {
  --chek: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14%2021.414L9%2016.413L10.413%2015L14%2018.586L21.585%2011L23%2012.415L14%2021.414Z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M16%202C13.2311%202%2010.5243%202.82109%208.22202%204.35943C5.91973%205.89777%204.12532%208.08427%203.06569%2010.6424C2.00607%2013.2006%201.72882%2016.0155%202.26901%2018.7313C2.80921%2021.447%204.14258%2023.9416%206.10051%2025.8995C8.05845%2027.8574%2010.553%2029.1908%2013.2687%2029.731C15.9845%2030.2712%2018.7994%2029.9939%2021.3576%2028.9343C23.9157%2027.8747%2026.1022%2026.0803%2027.6406%2023.778C29.1789%2021.4757%2030%2018.7689%2030%2016C30%2012.287%2028.525%208.72601%2025.8995%206.1005C23.274%203.475%2019.713%202%2016%202ZM16%2028C13.6266%2028%2011.3066%2027.2962%209.33316%2025.9776C7.35977%2024.6591%205.8217%2022.7849%204.91345%2020.5922C4.0052%2018.3995%203.76756%2015.9867%204.23058%2013.6589C4.69361%2011.3311%205.83649%209.19295%207.51472%207.51472C9.19295%205.83649%2011.3312%204.6936%2013.6589%204.23058C15.9867%203.76755%2018.3995%204.00519%2020.5922%204.91345C22.7849%205.8217%2024.6591%207.35977%2025.9776%209.33316C27.2962%2011.3065%2028%2013.6266%2028%2016C28%2019.1826%2026.7357%2022.2348%2024.4853%2024.4853C22.2349%2026.7357%2019.1826%2028%2016%2028Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
  --trash: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M28%206H6L8%2030H24L26%206H4M16%2012V24M21%2012L20%2024M11%2012L12%2024M12%206L13%202H19L20%206%22%20stroke%3D%22black%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  --chek-fill: url("data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14%200C11.2311%200%208.52431%200.821086%206.22202%202.35943C3.91973%203.89777%202.12532%206.08427%201.06569%208.64243C0.00606596%2011.2006%20-0.271181%2014.0155%200.269012%2016.7313C0.809205%2019.447%202.14258%2021.9416%204.10051%2023.8995C6.05845%2025.8574%208.55301%2027.1908%2011.2687%2027.731C13.9845%2028.2712%2016.7994%2027.9939%2019.3576%2026.9343C21.9157%2025.8747%2024.1022%2024.0803%2025.6406%2021.778C27.1789%2019.4757%2028%2016.7689%2028%2014C28%2010.287%2026.525%206.72601%2023.8995%204.1005C21.274%201.475%2017.713%200%2014%200ZM12%2019.59L7.00001%2014.59L8.59001%2013L12%2016.41L19.41%209L21.006%2010.586L12%2019.59Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2 {
  font-size: xx-large;
}

.container {
  background: linear-gradient(0deg, #009dff 0%, #1021a2 100%);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.todo-app {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 1rem 10px 1rem 1rem;
  margin: auto;
  border-radius: 15px;
  justify-content: start;
  min-height: 300px;

  /* ul {
    padding-top: 10px;
    position: relative;
  } */
}

.done {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 1rem 10px 1rem 1rem;
  margin: auto;
  border-radius: 15px;
  justify-content: start;
  min-height: 300px;

  /* ul {
    padding-top: 10px;
    position: relative;
  } */
}

input {
  padding: 0.5rem 15px 0.5rem;
  border-radius: 10px;
  background-color: lightgray;
  border-style: none;
  font-size: larger;
}

button {
  padding: 0.5rem 15px 0.5rem;
  border-radius: 10px;
  background-color: orange;
  border-style: none;
  cursor: pointer;
  font-size: larger;
}

.tasks {
  width: 100%;
  max-width: 450px;
  padding-top: 10px;
  overflow: auto;
}

.heading {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  /* display: flex;
  flex-direction: row;
  gap: 10px; */
}
svg {
  height: 30px;
  width: 30px;
}

ul li {
  display: grid;
  grid-template-columns: auto auto 1fr;
  font-size: larger;
  /* padding: 5px 30px; */
  list-style: none;
  /* position: absolute; */
  pointer-events: none; /* Sørg for, at selve <li> ikke er klikbart */
}

li {
  grid-row: 1;
  gap: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  align-items: center;
  grid-column: -1;
  display: inline;
}

li:hover {
  background-color: lightblue;
  /* padding: 5px 5px 5px;
  border-radius: 10px;
  min-width: 20px; */
}
.checked {
  text-decoration: line-through;
}

/* .checked::before {
  background: var(--chek-fill) 50% 50% / contain no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  grid-column: auto;
} */

/* span med trash */
/* span {
  grid-column: 2;
  content: "";
  height: 30px;
  width: 30px;
  background: var(--trash) 50% 50% / contain no-repeat;
} */

/* chek ik udfyldt */
li::before {
  /* display: none; */
  background: var(--chek) 50% 50% / contain no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  grid-column: 1;
  grid-row: 1;
}
li.doneLi::before {
  background: var(--chek-fill) 50% 50% / contain no-repeat;
}
/* chek udfylt */
/* li::after {

  background: var(--trash) 50% 50% / contain no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  grid-column: 2;
  grid-row: 1;

} */

span {
  background: var(--trash) 50% 50% / contain no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  grid-column: 2;
  grid-row: 1;

  /* background-color: #1021a2;
  grid-column: 2;
  grid-row: 1;

  left: 50px;
  width: 40px;
  height: 40px;
  display: inline-block; */
}
