:root {
  --chek-blue: url("data:image/svg+xml,%3Csvg%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2217.5%22%20cy%3D%2217.5%22%20r%3D%2217.5%22%20fill%3D%22%235B98F5%22%2F%3E%3Cpath%20d%3D%22M25.3221%2012.306C25.4192%2012.4028%2025.4961%2012.5177%2025.5486%2012.6443C25.6011%2012.7708%2025.6282%2012.9065%2025.6282%2013.0435C25.6282%2013.1805%2025.6011%2013.3162%2025.5486%2013.4428C25.4961%2013.5693%2025.4192%2013.6843%2025.3221%2013.781L15.9471%2023.156C15.8504%2023.253%2015.7354%2023.33%2015.6089%2023.3825C15.4823%2023.435%2015.3467%2023.4621%2015.2096%2023.4621C15.0726%2023.4621%2014.937%2023.435%2014.8104%2023.3825C14.6839%2023.33%2014.5689%2023.253%2014.4721%2023.156L10.3055%2018.9894C10.1099%2018.7938%2010%2018.5285%2010%2018.2519C10%2017.9752%2010.1099%2017.71%2010.3055%2017.5144C10.5011%2017.3188%2010.7664%2017.2089%2011.043%2017.2089C11.3196%2017.2089%2011.5849%2017.3188%2011.7805%2017.5144L15.2096%2020.9456L23.8471%2012.306C23.9439%2012.209%2024.0589%2012.1321%2024.1854%2012.0795C24.312%2012.027%2024.4476%2012%2024.5846%2012C24.7217%2012%2024.8573%2012.027%2024.9839%2012.0795C25.1104%2012.1321%2025.2254%2012.209%2025.3221%2012.306Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
  --chek-pink: url("data:image/svg+xml,%3Csvg%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2217.5%22%20cy%3D%2217.5%22%20r%3D%2217.5%22%20fill%3D%22%23F8BAD5%22%2F%3E%3Cpath%20d%3D%22M25.3221%2012.306C25.4192%2012.4028%2025.4961%2012.5177%2025.5486%2012.6443C25.6011%2012.7708%2025.6282%2012.9065%2025.6282%2013.0435C25.6282%2013.1805%2025.6011%2013.3162%2025.5486%2013.4428C25.4961%2013.5693%2025.4192%2013.6843%2025.3221%2013.781L15.9471%2023.156C15.8504%2023.253%2015.7354%2023.33%2015.6089%2023.3825C15.4823%2023.435%2015.3467%2023.4621%2015.2096%2023.4621C15.0726%2023.4621%2014.937%2023.435%2014.8104%2023.3825C14.6839%2023.33%2014.5689%2023.253%2014.4721%2023.156L10.3055%2018.9894C10.1099%2018.7938%2010%2018.5285%2010%2018.2519C10%2017.9752%2010.1099%2017.71%2010.3055%2017.5144C10.5011%2017.3188%2010.7664%2017.2089%2011.043%2017.2089C11.3196%2017.2089%2011.5849%2017.3188%2011.7805%2017.5144L15.2096%2020.9456L23.8471%2012.306C23.9439%2012.209%2024.0589%2012.1321%2024.1854%2012.0795C24.312%2012.027%2024.4476%2012%2024.5846%2012C24.7217%2012%2024.8573%2012.027%2024.9839%2012.0795C25.1104%2012.1321%2025.2254%2012.209%2025.3221%2012.306Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
  --trash-blue: url("data:image/svg+xml,%3Csvg%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2217.5%22%20cy%3D%2217.5%22%20r%3D%2217.5%22%20fill%3D%22%235B98F5%22%2F%3E%3Cpath%20d%3D%22M24.5833%209.04167H20.9375L19.8958%208H14.6875L13.6458%209.04167H10V11.125H24.5833M11.0417%2024.6667C11.0417%2025.2192%2011.2612%2025.7491%2011.6519%2026.1398C12.0426%2026.5305%2012.5725%2026.75%2013.125%2026.75H21.4583C22.0109%2026.75%2022.5408%2026.5305%2022.9315%2026.1398C23.3222%2025.7491%2023.5417%2025.2192%2023.5417%2024.6667V12.1667H11.0417V24.6667Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
  --trash-pink: url("data:image/svg+xml,%3Csvg%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2217.5%22%20cy%3D%2217.5%22%20r%3D%2217.5%22%20fill%3D%22%23F8BAD5%22%2F%3E%3Cpath%20d%3D%22M24.5833%209.04167H20.9375L19.8958%208H14.6875L13.6458%209.04167H10V11.125H24.5833M11.0417%2024.6667C11.0417%2025.2192%2011.2612%2025.7491%2011.6519%2026.1398C12.0426%2026.5305%2012.5725%2026.75%2013.125%2026.75H21.4583C22.0109%2026.75%2022.5408%2026.5305%2022.9315%2026.1398C23.3222%2025.7491%2023.5417%2025.2192%2023.5417%2024.6667V12.1667H11.0417V24.6667Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");

  /* farver */
  --hvid: #fff;
  --pink: #f8bad5;
  --blue: #5b98f5;
  --lys-gray: #f0f0f0;
  --dark-gray: #d9d9d9;
  --black: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

/* fonte  */
h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  place-self: center;
}
h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

img {
  width: 30px;
}

body {
  background: linear-gradient(0deg, var(--pink) 0%, var(--blue) 100%);
  min-height: 100vh;

  display: grid;
  grid-template-columns: [full-start]1fr [content] minmax(0, 700px) 1fr [full-end];

  column-gap: 1rem;
  > * {
    grid-column: full;

    > * {
      grid-column: content;
    }
  }
}

section {
  display: grid;
  grid-template-columns: [full-start]1fr [content] minmax(0, 700px) 1fr [full-end];

  margin: 5rem 0;
}

/* head  top med h1 */
.head {
  background-color: var(--pink);
  padding: 0.5rem;

  place-content: center;
  border-radius: 35px 35px 0 0;
  /* margin-bottom: 1rem; */
}

.list-outer {
  background-color: var(--hvid);
  border-radius: 0 0 35px 35px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  justify-items: center;
}
/* overskrift */
.list-head {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* task */

.tasks {
  grid-column: 1/-1;
  background-color: var(--lys-gray);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  padding: 1.5rem;
}
.inputfelt {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

input {
  grid-column: 1/2;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--hvid);
  border-style: none;
  font-size: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--pink);
  border-style: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
button:hover {
  background-color: var(--blue);
}

/* list stil  */

.list-styl {
  width: 100%;
  background-color: var(--lys-gray);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 15px;
  min-height: 350px;
}
li {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--dark-gray);
}

li:hover {
  background-color: var(--dark-gray);
  text-decoration: line-through;
}

/* sympoler på listen */

li::before {
  background: var(--chek-pink) 50% 50% / contain no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  grid-column: 2;
  grid-row: 1;
}

li.doneLi::before {
  background: var(--chek-blue) 50% 50% / contain no-repeat;
}

span {
  background: var(--trash-pink) 50% 50% / contain no-repeat;
  width: 30px;
  place-self: center;
  height: 30px;
  grid-column: 3;
  grid-row: 1;
}
span:hover {
  background: var(--trash-blue) 50% 50% / contain no-repeat;
}
